.homepage-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homepage-aside-and-content{
  margin-top: 25px;
}

.hidden{
  display: none;
}

.credit--{
  display: flex;
  justify-content: right;
  color: rgb(187, 183, 183);
}

.credit-- > a {
  color: inherit;
  text-decoration: none;
}


/*from NavBar.css .align-nav-homepage-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
} */