.nav-container{
  display: flex;
  height: 70px;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
}

.nav-inner-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.nav-title{
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  cursor: pointer;
}

.nav-left-side{
  display: flex;
  flex: 1;
}

.nav-right-side{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  flex: 1;
}

.nav-user-div{
  display: flex;
  align-items: center;
}

.nav-buttons-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
}

.nav-loggedInUser-profile-picture{
  width: 45px;
  margin-right: 5px;
  cursor: pointer;
}

.nav-user-username{
  font-weight: bold;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.relative{
  position: relative
}

.nav-user-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  background-color: white;
  color: black;
  left: -60px;
  top: 65px;
}

.sizing-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.sizing-button:hover{
  transition: 1s;
  background-color: black;
  color: white;
}

.active{
  border: 2px solid black;
}

.hover-bold:hover{
  transition: 1s;
  padding: 2px;
  white-space: nowrap;
  font-weight: bold;
}

@media (max-width: 650px) {
  .nav-inner-container{
    width: 100%;
    justify-content: space-between;
    margin: 0;
  }

  .nav-right-side{
    width: 150px;
  }

  .nav-user-username {
    display: none;
    background-color: red;
  }
}